<h4>Image Section</h4>
<button class="remove-section btn btn-small btn-danger" data-id="{{ link.id }}"><i class="fa fa-times"></i> Remove</button>
<input type="hidden" name="sections[]" value="{{ link.id }}">
<div class="section-image">
	<div class="column column-form">
		{{ form_row(form.image) }}
		{{ form_row(form.position) }}
		{{ form_row(form.caption) }}
		{{ form_row(form.link) }}
	</div>
	<div class="column column-preview">
		<div class="image-preview">
			
		</div>
	</div>
	<br class="clear">
</div>