{% extends 'StemsPageBundle:Layout:' ~ page.layout.slug ~ '.html.twig' %}

{% import 'StemsCoreBundle:Macro:core.html.twig' as macros %}

{% block breadcrumbs %}<a href="{{ path('stems_front_blog_list') }}">Blog</a> › <a href="{{ path('stems_front_blog_post', { 'slug' : post.slug }) }}">{{ post.title }}</a>{% endblock %}

{% block title %}{% endblock %}

{% block dynamic %}
	<div class="article" itemscope itemtype="http://schema.org/Article">
		{% if post.content is not empty %}
			{{ post.content|raw }}
		{% endif %}
		{% for section in sections %}
			<div class="section" itemprop="articleBody">
				{{ section|raw }}
			</div>
		{% endfor %}
		<div class="comments">
			{% if 'stems.blog.comments.moderated'|parameter %}
				{% set comments = post.moderatedComments %}
			{% else %}
				{% set comments = post.undeletedComments %}
			{% endif %}
			<h4><i class="fa fa-fw fa-comments-o"></i> {{ comments|length }} comments <a class="add-comment">Add Comment <i class="fa fa-plus"></i></a></h4>
			<div class="add-comment">
				
			</div>
			<ul>
				{% for comment in comments %}
					<li>
						{% if 'stems.blog.comments.require_login'|parameter and 'stems.blog.comments.show_avatars'|parameter %}
							<div class="avatar">
							</div>
						{% endif %}
						<div class="content">
							<h6>
								By <span>
								{% if 'stems.blog.comments.require_login'|parameter %}
									{{ comment.author|username }}
								{% else %}
									{{ comment.author }}
								{% endif %}
								</span> on {{ comment.created|date('jS F Y') }} at {{ comment.created|date('h:i') }}
							</h6>
							<p>{{ comment.content }}</p>
						</div>
						<br class="clear">
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}