{% extends 'StemsPageBundle:Layout:' ~ page.layout.slug ~ '.html.twig' %}

{% import 'StemsCoreBundle:Macro:core.html.twig' as macros %}

{% block breadcrumbs %}<a href="{{ path('stems_front_blog_list') }}">Blog</a> › <a href="{{ path('stems_front_blog_post', { 'slug' : post.slug }) }}">{{ post.title }}</a>{% endblock %}

{% block title %}{% endblock %}

{% block dynamic %}
	<div class="article" itemscope itemtype="http://schema.org/Article">
		{% if post.content is not empty %}
			{{ post.content|raw }}
		{% endif %}
		{% for section in sections %}
			<div class="section" itemprop="articleBody">
				{{ section|raw }}
			</div>
		{% endfor %}
		<div class="comments">
			{# Comment configuration parameters #}
			{% if 'stems.blog.comments.moderated'|parameter %}
				{% set comments = post.moderatedComments %}
			{% else %}
				{% set comments = post.undeletedComments %}
			{% endif %}
			{% if 'stems.blog.comments.require_login'|parameter and app.user is empty %}
				{% set authorised = false %}
			{% else %}
				{% set authorised = true %}
			{% endif %}
			<h4>
				<i class="fa fa-fw fa-comments-o"></i> {{ comments|length }} comments
				{% if authorised %}
					<a class="add-comment show">Add Comment <i class="fa fa-plus"></i></a>
				{% else %}
					<p class="add-comment require-login">
						<a href="{{ path('stems_front_user_login') }}">Sign In</a> or 
						<a href="{{ path('stems_front_user_register') }}">Register</a> to Comment 
						<i class="fa fa-plus"></i>
					</p>
				{% endif %}
			</h4>
			{% if authorised and 'stems.blog.comments.enabled'|parameter %}
				<div class="add-comment-form">
					<form action="{{ path('stems_rest_blog_add_comment', { post : post.id }) }}">
						{{ form_rest(form) }}
						<button class="rest-post-request">Submit</button>
					</form>
				</div>
			{% endif %}
			<ul>
				{% for comment in comments %}
					{% embed 'StemsBlogBundle:Embed:comment.html.twig' %}{% endembed %}
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}