{% extends 'admin.html.twig' %}

{% block title %}Edit Post &middot; {{ post.title }}{% endblock %}

{% block content %}
	<h1 class="pages">Edit Post: <span>{{ post.title }}</span></h1>
	{{ form_errors(form) }}
	<form method="post">
		<div class="admin-editor admin-blog-editor">
			<div class="edit-tabs">
				<ul>
					<li></li>
					<li><a href="#" data-tab="edit-post-overview" class="active">General <i class="fa fa-tasks fa-fw"></i></a></li>
					<li><a href="#" data-tab="edit-post-content">Content <i class="fa fa-file-text-o fa-fw"></i></a></li>
					<li><a href="#" data-tab="edit-post-layout">Layout <i class="fa fa-th-large fa-fw"></i></a></li>
					<li><a href="#" data-tab="edit-post-tags">Tags <i class="fa fa-tags fa-fw"></i></a></li>
					<li><a href="#" data-tab="edit-post-seo">SEO <i class="fa fa-bar-chart-o fa-fw"></i></a></li>
					<li></li>
				</ul>
			</div>
			<div class="edit-panels">
				<div class="edit-panel" id="edit-post-overview">
					{{ form_row(form.title) }}
					{{ form_row(form.excerpt) }}
					{{ form_row(form.slug) }}
					{{ form_label(form.image) }}
					{% if post.image is not empty %}
						<div class="feature-image">
							<img 
								src="{{ getMediaImage(post.image).src }}" 
								{% if getMediaImage(post.image).width > 738 %}
									width="738"
								{% else %}
									width="{{ getMediaImage(post.image).width }}"
								{% endif %}
							/>
							<div class="button-holder">
								<div>
									<div>
										<a class="btn btn-primary rest-get-popup" href="{{ path('stems_rest_blog_popup_set_featureimage', { id : post.id }) }}"><i class="fa fa-picture-o"></i> Change Feature Image</a>
									</div>
								</div>
							</div>
						</div>
					{% else %}
						<div class="feature-image feature-image-empty">
							<div class="button-holder">
								<div>
									<div>
										<a class="btn btn-primary rest-get-popup" href="{{ path('stems_rest_blog_popup_set_featureimage', { id : post.id }) }}"><i class="fa fa-picture-o"></i> Add Feature Image</a>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
					{{ form_widget(form.image) }}
				</div>
				<div class="edit-panel" id="edit-post-seo" style="height:0px">
					{{ form_row(form.metaTitle) }}
					{{ form_row(form.metaKeywords) }}
					{{ form_row(form.metaDescription) }}
				</div>
				<div class="edit-panel" id="edit-post-tags" style="height:0px">
					Tags go here
				</div>
				<div class="edit-panel" id="edit-post-layout" style="height:0px">
					{# <h2>{{ post.title }}</h2>
					<ul class="section-ordering">
						{% for section in post.sections %}
							<li data-section-id="{{ section.id }}"><h4>{{ section.type.name }}</h4></li>
						{% endfor %}
					</ul> #}
				</div>
				<div class="edit-panel" id="edit-post-content" style="height:0px">
					<h2>{{ post.title }}</h2>
					<ul class="sections">
						{% for sectionForm in sectionForms %}
							<li>{{ sectionForm|raw }}</li>
						{% endfor %}
					</ul>
					<div id="add-section">
						<div class="available-sections">
							{% for id,type in types if type.enabled %}
								<a class="btn" data-type-id="{{ id }}">{{ type.name }} Section</a>
							{% endfor %}
						</div>
						<a class="btn btn-primary"><i class="fa fa-plus"></i> Add a New Section</a>
					</div>
				</div>
			</div>
		</div>
		<br class="clear">
		<div class="admin-editor-controls">
			<input class="btn btn-success" type="submit" value="Save">
			{% if post.status == 'Published' %}
				<a href="{{ path('stems_admin_blog_publish', { 'id' : post.id }) }}" class="btn btn-warning" >Unpublish</a>
			{% else %}
				<a href="{{ path('stems_admin_blog_publish', { 'id' : post.id }) }}" class="btn btn-success" >Publish</a>
			{% endif %}
			<a href="{{ path('stems_admin_blog_delete', { 'id' : post.id }) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this post?" >Delete</a>
			<a href="{{ path('stems_admin_blog_overview') }}"class="btn" >Cancel</a>
		</div>
	</form>
{% endblock %}
