<div class="widget widget-blog-homepage-feature">
	<h5><a href="/magazine">Magazine Features</a></h5>
	<div class="left-items">
		<a href="/magazine/{{ posts[1].slug }}">
			<div class="image" style="background:url('{{ getMediaImage(posts[1].image).src }}') center center; background-size:cover;"></div>
			<div class="description">
				<h2>{{ posts[1].title }}<span>{{ posts[1].excerpt }}</span></h2>
			</div>
		</a>
		<a href="/magazine/{{ posts[3].slug }}">
			<div class="image" style="background:url('{{ getMediaImage(posts[3].image).src }}') center center; background-size:cover;"></div>
			<div class="description">
				<h2>{{ posts[3].title }}<span>{{ posts[3].excerpt }}</span></h2>
			</div>
		</a>
	</div>
	<div class="feature-item">
		<a href="/magazine/{{ posts[0].slug }}">
			<h2>{{ posts[0].title }}<span>{{ posts[0].excerpt }}</span></h2>
			<div class="image" style="background:url('{{ getMediaImage(posts[0].image).src }}') center center; background-size:cover;"></div>
			<div class="description">
				<p>{{ posts[0].metaDescription }}</p>
			</div>
		</a>
	</div>
	<div class="right-items">
		<a href="/magazine/{{ posts[2].slug }}">
			<div class="image" style="background:url('{{ getMediaImage(posts[2].image).src }}') center center; background-size:cover;"></div>
			<div class="description">
				<h2>{{ posts[2].title }}<span>{{ posts[2].excerpt }}</span></h2>
			</div>
		</a>
		<a href="/magazine/{{ posts[4].slug }}">
			<div class="image" style="background:url('{{ getMediaImage(posts[4].image).src }}') center center; background-size:cover;"></div>
			<div class="description">
				<h2>{{ posts[4].title }}<span>{{ posts[4].excerpt }}</span></h2>
			</div>
		</a>
	</div>
	<br class="clear">
</div>