<div class="widget widget-blog-homepage-feature">
	<div>
		<div class="background" style="background:url('{{ getMediaImage(posts[0].image).src|imagine_filter('blog_homepage_main') }}') center center; background-size:cover;"></div>
		<div class="feature-article wrap" >
			<a href="{{ path('stems_blog_front_post', { slug:posts[0].slug }) }}">
				<div class="title">
					<p class="title-faded-sans">Latest Feature</p>
					<h2>{{ posts[0].title }}</h2>
					<h4><span></span> {{ posts[0].subtitle }} <span></span></h4>
				</div>
				<div class="image" style="background:url('{{ getMediaImage(posts[0].image).src|imagine_filter('blog_header') }}') center center; background-size:cover;"></div>
				<div class="description">
					<p>{{ posts[0].excerpt }}</p>
				</div>
				<button>Read More</button>
			</a>
		</div>
	</div>
	<div class="other-articles wrap">
		<figure>
			<a href="{{ path('stems_blog_front_post', { slug:posts[1].slug }) }}">
				<div class="title">
					<h2 class="title-italic-serif">{{ posts[1].title }}</h2>
					<h4>{{ posts[1].subtitle }}</h4>
					<p>{{ posts[1].excerpt }}</p>
				</div>
				<div class="image" style="background:url('{{ getMediaImage(posts[1].image).src|imagine_filter('blog_homepage_circle')  }}') center center; background-size:cover;"></div>
			</a>
		</figure>
		<figure>
			<a href="{{ path('stems_blog_front_post', { slug:posts[2].slug }) }}">
				<div class="title">
					<h2 class="title-italic-serif">{{ posts[2].title }}</h2>
					<h4>{{ posts[2].subtitle }}</h4>
					<p>{{ posts[2].excerpt }}</p>
				</div>
				<div class="image" style="background:url('{{ getMediaImage(posts[2].image).src|imagine_filter('blog_homepage_circle')  }}') center center; background-size:cover;"></div>
			</a>
		</figure>
		<figure>
			<a href="{{ path('stems_blog_front_post', { slug:posts[3].slug }) }}">
				<div class="title">
					<h2 class="title-italic-serif">{{ posts[3].title }}</h2>
					<h4>{{ posts[3].subtitle }}</h4>
					<p>{{ posts[3].excerpt }}</p>
				</div>
				<div class="image" style="background:url('{{ getMediaImage(posts[3].image).src|imagine_filter('blog_homepage_circle')  }}') center center; background-size:cover;"></div>
			</a>
		</figure>
		<br class="clear">
	</div>
</div>