{% extends 'StemsCoreBundle:Popup:default.html.twig' %}

{% block title %}Edit {{ product.heading }}{% endblock %}

{% block classes %}{% endblock %}

{% block content %}
	<div class="two-column">
		<div class="column">
			{{ form_row(form.heading) }}
			{{ form_row(form.caption) }}
			{{ form_row(form.link) }}
			{{ form_row(form.image) }}
			{{ form_row(form.thumbnail) }}
			{{ form_row(form.pid) }}
		</div>
		<div class="column">
			<div class="popup-image-toggle-preview"></div>
		</div>
		<br class="clear">
	</div>
	<button class="btn btn-success" id="popup-submit-edit-productgalleryproduct">Save Changes</button>
{% endblock %}
